matheus_lucas_teste.json
{
  "name": "matheus_lucas_teste",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        0
      ],
      "id": "b30a2fc5-56fd-4aed-bbca-c6fb8e087cfc",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "UtTWhmBQteXkXec2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1HabY3BjRhN-dVhIqFeEuNv6U4UO3ZDid",
          "mode": "list",
          "cachedResultName": "meus_arquivos_csv",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HabY3BjRhN-dVhIqFeEuNv6U4UO3ZDid"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        -128
      ],
      "id": "20b2214d-ef95-4441-a61e-f42818b1e611",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xGYqK53mS8a5bleH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a792c29a-b649-4d5b-89d8-bb714d14ecf3",
              "leftValue": "={{ $json.hasCsv }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        0
      ],
      "id": "7c987254-5dc1-4e8d-8fba-aa39a3f19e59",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://open.er-api.com/v6/latest/USD",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        0
      ],
      "id": "9be1ee35-7c35-4868-a84e-d10638e8b2f5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').first().json.threadId }}\n",
        "message": "=<div style=\"font-family: Arial, sans-serif; background-color:#f4f6f8; padding:20px;\">\n  <div style=\"max-width:600px; margin:0 auto; background-color:#ffffff; border-radius:8px; overflow:hidden; box-shadow:0 2px 6px rgba(0,0,0,0.1);\">\n    \n    <!-- Cabeçalho -->\n    <div style=\"background-color:#004AAD; color:#ffffff; padding:20px; text-align:center;\">\n      <h2 style=\"margin:0; font-size:22px;\">Onfly - Confirmação de Recebimento</h2>\n    </div>\n    \n    <!-- Corpo -->\n    <div style=\"padding:20px; color:#333333; font-size:15px; line-height:1.6;\">\n      <p>Olá, <strong>{{ $('Gmail Trigger').first().json.from.value[0].name }}</strong>! Tudo bem?</p>\n\n      <p>\n        A cotação do dólar hoje é: \n        <strong>R${{ $('HTTP Request').first().json.rates.BRL.toString().replace('.', ',') }}</strong>.\n      </p>\n\n      <p>\n        Informamos o recebimento do(s) seguinte(s) arquivo(s) CSV: \n      </p>\n      <p style=\"background:#f0f4ff; padding:10px; border-radius:6px; white-space:pre-line; font-family:monospace; color:#004AAD;\">\n        {{ $json.fileList }}\n      </p>\n\n<p>\n  Para visualizar todos os itens já armazenados, clique \n  <a href=\"https://drive.google.com/drive/u/2/folders/1HabY3BjRhN-dVhIqFeEuNv6U4UO3ZDid\" \n     style=\"color:#004AAD; text-decoration:none; font-weight:bold;\">\n    aqui</a>.</p>\n\n\n      <p>Agradecemos pela colaboração.</p>\n\n      <p>Atenciosamente,</p>\n      <p><strong>Equipe Onfly</strong></p>\n    </div>\n    \n    <!-- Rodapé -->\n    <div style=\"background-color:#f0f4f8; padding:15px; text-align:center;\">\n      <img src=\"https://drive.google.com/uc?export=view&id=1Rnvx5VYvCw1CNGYCpAA5Pg4FVgpha9Yh\" alt=\"Logo Onfly\" width=\"120\" style=\"margin-bottom:5px;\">\n      <p style=\"margin:0; font-size:12px; color:#666;\">© 2025 Onfly. Todos os direitos reservados.</p>\n    </div>\n    \n  </div>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1216,
        -128
      ],
      "id": "1c7dea08-825e-4469-a003-6f9032cb4e0e",
      "name": "Recebi os arquivos",
      "webhookId": "021b5917-a819-4bd9-a6ac-2edb8108f1d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "UtTWhmBQteXkXec2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; background-color:#f4f6f8; padding:20px;\">\n  <div style=\"max-width:600px; margin:0 auto; background-color:#ffffff; border-radius:8px; overflow:hidden; box-shadow:0 2px 6px rgba(0,0,0,0.1);\">\n    \n    <!-- Cabeçalho -->\n    <div style=\"background-color:#004AAD; color:#ffffff; padding:20px; text-align:center;\">\n      <h2 style=\"margin:0; font-size:22px;\">Onfly - Aviso sobre anexos</h2>\n    </div>\n    \n    <!-- Corpo -->\n    <div style=\"padding:20px; color:#333333; font-size:15px; line-height:1.6;\">\n      <p>Olá, <strong>{{ $('Gmail Trigger').item.json.from.value[0].name }}</strong>! Tudo bem?</p>  \n\n      <p>\n        Passamos para alertá-lo(a) que o(s) anexo(s) no formato <strong>.csv</strong> não foram adicionados na sua mensagem anterior.  \n        Poderia reencaminhar, por gentileza?\n      </p>  \n\n      <p>\n        De toda forma, segue a cotação do dólar hoje recuperada na API:  \n        <strong>R${{ $('HTTP Request').item.json.rates.BRL.toString().replace('.', ',') }}</strong>.\n      </p>\n\n      <p>Atenciosamente,</p>\n      <p><strong>Equipe Onfly</strong></p>\n    </div>\n    \n    <!-- Rodapé -->\n    <div style=\"background-color:#f0f4f8; padding:15px; text-align:center;\">\n      <img src=\"https://drive.google.com/uc?export=view&id=1Rnvx5VYvCw1CNGYCpAA5Pg4FVgpha9Yh\" alt=\"Logo Onfly\" width=\"120\" style=\"margin-bottom:5px;\">\n      <p style=\"margin:0; font-size:12px; color:#666;\">© 2025 Onfly. Todos os direitos reservados.</p>\n    </div>\n    \n  </div>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        128
      ],
      "id": "cf05c918-3c33-44ca-bbc5-8ee4d1d63ab5",
      "name": "Não recebi os arquivos",
      "webhookId": "021b5917-a819-4bd9-a6ac-2edb8108f1d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "UtTWhmBQteXkXec2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let results = [];\nconst gmailItem = $items(\"Gmail Trigger\")[0];\nconst binaryData = gmailItem.binary;\n\nif (binaryData) {\n  const fileNames = [];\n\n  for (const key of Object.keys(binaryData)) {\n    const file = binaryData[key];\n    const fileName = file?.fileName;\n\n    if (fileName && fileName.toLowerCase().endsWith('.csv')) {\n      fileNames.push(fileName);\n\n      results.push({\n        json: {\n          hasCsv: true,\n          fileName,\n          threadId: gmailItem.json.threadId,\n          fromName: gmailItem.json.from.value[0].name,\n        },\n        binary: {\n          data: file, // necessário pro Upload File (Drive)\n        }\n      });\n    }\n  }\n\n  if (results.length > 0) {\n    // adiciona a lista de arquivos no primeiro item\n    results[0].json.fileList = fileNames.join(\"<br>\");\n    return results;\n  }\n}\n\n// Se não encontrou CSV\nreturn [\n  {\n    json: {\n      hasCsv: false,\n      threadId: gmailItem.json.threadId,\n      fromName: gmailItem.json.from.value[0].name,\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        0
      ],
      "id": "658232c2-8163-4c71-9c62-4bf793b04e64",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os itens do node \"Code in JavaScript\"\nconst items = $node[\"Code in JavaScript\"].json;\n\n// Retorna o valor do campo fileList\nreturn [\n  {\n    json: {\n      fileList: items.fileList\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -128
      ],
      "id": "6190a7fb-f03c-4d67-9758-8c86ef9ebdd0",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não recebi os arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recebi os arquivos": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Recebi os arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "JQqrf7Yl9i2T3jhF"
  },
  "versionId": "910943cf-3525-4fc6-8118-e0831e08d36b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d3212004339c0224500e380bcc76819a9dc5ecdd6edba845af01ffd004bb7c3"
  },
  "id": "JQqrf7Yl9i2T3jhF",
  "tags": []
}